body{
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #f2fffc;
	line-height: 1.5;
}
h1,h2{
	font-family: "Open Sans Condensed", "Arial",sans-serif;
	margin: 0;

}
blockquote, aside, footer{
	padding: 20px;
}
main h1{
	background-color: #851944;
	color: #ffffff;
	text-align: center;
	padding: 25px;
	border-bottom: 10px solid black;

}
main a{
	color: #851944;
}
main div{
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}
p{
	text-align: justify;
}
blockquote{
	background-color: #d3ddd4;
	padding: 16px;
	border: 10px solid #c2ccca;
	width: 250px;
	margin: 0;
	box-sizing: border-box;
}
cite{
	background-color: #d9e5e3;
}

aside{
	text-align: center;
	background-color: #3c1d3d;
	color: #f2fffc;
	padding: 20px;
}
aside a{
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

footer{
	background-color: #000000;
	color: #f2fffc;
}

nav a{
	color: #f2fffc;
}
